/* Quiz styles */

/* Variables */
$backColor: aliceblue;
$darkBlue: #064277;
$lightBlue: #58a0e0;
$fontFamSans: sans-serif;
$fontFamSerif: serif;
$marginLeft: 50px;
$padding: 10px;
/* End Variables */

@mixin border($borderColor: 2px solid $darkBlue, $borderRadius: 20px){
    border: $borderColor;
    border-radius: $borderRadius;
}

header {
    @include border;
    margin: 10px auto;
    padding: $padding;
    background-color: $backColor;
    text-align: center;
}

body {
    width: 600px;
    margin: auto;
    font-family:$fontFamSans;
    font-size: 1em;
    font-style:oblique;
    background-color: #dadadb
}


h1 {
    color: $lightBlue;
}

#content {
    @include border;
    margin: 10px auto;
    padding: $padding;
    background-color: $backColor;
}

#list{
    @include border;
    background-color: $backColor;
}

h2 {
    color: $darkBlue;
}

h3 {
    margin-left: $marginLeft;
    color: $lightBlue;
}

ul{
    margin-left: $marginLeft;
}

p{
    font-family: $fontFamSerif;
    font-style:normal;
}

.samplepara {
    @include border(3px solid $lightBlue, 5px);
    padding: $padding;
    background-color: white;
}

footer {
    @include border;
    border-radius: 20px;
    margin: 10px auto;
    padding: $padding;
    background-color: $backColor;

    #footer {
        font-size: .75em;
        font-style:italic;
        font-weight: bold;
        color: $darkBlue;
        text-align: center;
    }
}

